/** Main layout variables */

/** color scheme */
$color1: #34718B;
$color2: #FF3414;
$color3: #D92322;
$color4: rgba(20, 70, 100, 0.9);
$color5: rgba(15, 100, 15, 0.95);
$color6: rgba(40, 40, 70, 0.9);
$color7: rgba(90, 90, 90, 0.5);
$color8: rgba(40, 40, 40, 1.0);

/** global variables */
$min-width: 760px;
$font-family: 'Source Sans Pro';

$transition: .3s;
$shadow-dark: rgba(150, 150, 150, 0.8);
$shadow-darker: rgba(50, 50, 50, 0.8);
$separator: 1px solid rgba(200, 200, 200, 0.4);

/** both menus */
$menu-shadow: 1px 1px 2px $shadow-darker;

/** forms */
$form-focus-shadow: 0 0 4px $color2;

/** buttons */
$button-border-radius: 2px;
$button-border: none;
$button-shadow: 1px 1px 2px $shadow-darker;
$button-font-size: 15px;

$button-lg-padding: 9px 15px;
$button-sm-padding: 6px 12px;
$button-xs-padding: 3px 8px;

/** modal */
$modal-background: rgba(10, 10, 10, 0.8);

/** app-name */
$app-font-size: 38px;
$app-font-color: white;
$app-font-shadow: 0 0 2px $shadow-dark;
$app-font-weight: bold;

/** manage block header */
$block-header-button-size: 24px;
$block-header-display-margin: 0 10px 0 0;
$block-header-font-size: 20px;
$block-header-padding: 10px;

/** header */
$header-height: 45px;
$header-padding: 3px 0;
$header-shadow: 0 0 8px $shadow-dark;
$header-background: $color4;

/** header-menu */
$header-menu-button-color: white;
$header-menu-button-color-current: $color2;
$header-menu-button-padding : 10px 8px;
$header-menu-button-font-size: 28px;

/** block */
$block-padding: 0;
$block-text-color: white;
$block-background: $color1;
$block-alert-background: $color3;
$block-border-radius: 2px;
$block-shadow: 2px 2px 3px $shadow-darker;

/** block white */
$block-modal-background: white;
$block-modal-container-padding: 0;
$block-modal-container-border-radius: 1px;
$block-modal-shadow: 0 0 6px $shadow-dark;
$block-modal-border: 15px solid $color7;
$block-modal-border-radius: 0;
$block-modal-header-font-size: 18px;
$block-modal-header-title-margin: 10px;
$block-modal-margin: 5px;
$block-modal-validate-margin: 5px 0;
$block-modal-validate-padding: 10px 0 7px 0;
$block-modal-form-margin: 10px 20px;
$block-modal-form-font-size: 18px;
$block-modal-form-width: 100%;
$block-modal-form-min-height: 23vh;
$block-modal-form-max-height: 300px;
$block-modal-form-shadow: inset 0 0 7px $shadow-dark;
$block-modal-form-padding: 10px;
$block-modal-form-border-radius: 3px;
$block-modal-form-border: 1px solid $shadow-dark;
$block-dark-shadow: 1px 1px 2px $shadow-darker;

/** alert block */
$alert-width: $min-width - 50px;
$alert-margin-left: -($min-width / 2.15);
$alert-margin-bottom: -10px;
$alert-padding-bottom: 10px;

/** choose block */
$choose-width: $min-width - 50px;
$choose-margin-left: -($min-width / 2.15);
$choose-margin-bottom: -85px;
$choose-padding-bottom: 10px;
$welcome-margin: 20px 0;
$welcome-font-size: 40px;

/** question block */
$question-padding: 0;
$question-margin: 20px 0;
$question-text-shadow: 1px 1px 2px $shadow-darker;
$question-explication-background: $color5;
$question-intitule-background: $shadow-darker;
$question-intitule-margin: 10px 0;
$question-intitule-padding: 5px;
$question-intitule-font-size: 18px;
$question-illustration-margin: 30px;
$question-illustration-height: 60%;
$question-illustration-width: 60%;
$question-illustration-border: 3px solid $shadow-darker;
$question-illustration-border-hover: 3px solid $color2;
$question-illustration-border-radius: 2px;
$question-illustration-modal-height: 90%;
$question-illustration-modal-width: 90%;
$question-reponse-square-size: 24px;
$question-reponse-checkbox-margin: 5px 0;
$question-reponse-col-padding:  0 6px;
$question-reponse-label-padding: 10px;
$question-reponse-label-font-size: 16px;
$question-reponse-label-border-radius: 4px;
$question-reponse-label-background: $shadow-darker;
$question-reponse-label-border: 2px solid $shadow-darker;
$question-reponse-label-border-hover: 2px solid $color2;
$question-reponse-label-valid-background: $question-explication-background;
$question-reponse-label-valid-shadow: 0 0 2px $question-explication-background;
$question-reponse-label-not-valid-background: $color3;
$question-reponse-label-not-valid-shadow: 0 0 2px $color3;

/** result block */
$result-delay: 5s;
$result-font-color: $color3;
$result-width: 560px;
$result-margin: 10px;
$result-announce-margin: 5px 0;
$result-announce-font-size: 30px;

/** footer */
$footer-height: 81px;
$footer-padding: 15px 5px;
$footer-shadow: 0 0 8px $shadow-darker;
$footer-background: $color1;

/** footer-menu */
$footer-menu-button-color: white;
$footer-menu-button-color-current: $color2;
$footer-menu-button-padding : 3px 14px;
$footer-menu-button-font-size: 38px;
